<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>店铺列表</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav nav-pills pull-right">
                 <li role="presentation">
                     <a href="{% url 'create' %}">新增店铺</a>
                 </li>
            </ul>
        </nav>
        <div class="header clearfix">
	    <h3 class="text-muted"><a href="{% url 'index' %}">美食街（测试）</a></h3>
        </div>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">
            <p>&copy; 2017 美食街（测试版）</p>
        </footer>
    </div>
</body>
</html>
