{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="main" style="display:inline-block;vertical-align:top;width:800px">
<ul class="list-group">
    <li class="list-group-item">{{star}}点评：{{all}}条&emsp;
        <div style="display:inline-block"><a href="{% url 'review' store.id %}">全部</a></div>&emsp;
        <div style="display:inline-block"><a href="{% url 'review_star' store.id 50 %}">50星</a></div>&emsp;
        <div style="display:inline-block"><a href="{% url 'review_star' store.id 40 %}">40星</a></div>&emsp;
        <div style="display:inline-block"><a href="{% url 'review_star' store.id 30 %}">30星</a></div>&emsp;
        <div style="display:inline-block"><a href="{% url 'review_star' store.id 20 %}">20星</a></div>&emsp;
        <div style="display:inline-block"><a href="{% url 'review_star' store.id 10 %}">10星</a></div>
        <form method="POST" action="/{{sort_path}}" class="pull-right">
            点评排序：
            {% csrf_token %}
            <select name="review-order">
                <option value="latest">最新点评</option>
                <option value="likest">点赞数</option>
                <option value="newest">最早点评</option>
            </select>
            <div style="display:inline-block">
                {% buttons submit='排序' layout='inline' %}{% endbuttons %}
            </div>
        </form>
    </li>
    {% for review in reviews.all %}
    <li class="list-group-item clearfix">
        <div>
            {% bootstrap_icon 'user' %}<b>{{review.author}}</b>
            {% bootstrap_icon 'time' %}{{review.create_at}}
        </div>
        <div class="pull-right"><small>赞({{review.like}})</small></div>
        <div>
            <small>
                星级：{{review.star}}星&emsp;&emsp;口味：{{review.taste_score}}&emsp;&emsp;环境：{{review.environment_score}}&emsp;&emsp;服务：{{review.service_score}}
            </small>
        </div>
        <div class="word-wrap">{{review.content}}</div>
    </li>
    {% endfor %}
    <div class="pull-right">
    <!-- 如果当前是第一页，就不显示【上一页】链接 -->
    {% ifnotequal curPage 1 %}
    <a href="?curPage={{ curPage|add:'-1' }}&&allPage={{ allPage }}&&pageType=pageUp">
        上一页
    </a>
    {% endifnotequal %}

    第{{ curPage }}/{{ allPage }}页

    <!-- 如果当前是最后一页，就不显示【下一页】链接 -->
    {% ifnotequal curPage allPage %}
    <a href="?curPage={{ curPage|add:'1' }}&&allPage={{ allPage }}&&pageType=pageDown">
        下一页
    </a>
    {% endifnotequal %}
    </div>
</ul>
</div>

<div class="panel panel-default" style="display:inline-block;vertical-align:top;width:300px">
    <div class="panel-heading">
        <h3><a href="{% url 'store' store.id %}">{{store.name}}</a></h3>
        <small>
            电话：{{store.phone_number}}<br>
            地址：{{store.address}}
        </small>
    </div>
    <div class="panel-body word-wrap">
        可增加内容
    </div>
    <div class="panel-footer"></div>
</div>

{% endblock %}
