{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{store.name}}</h3>
        <small>
            电话：{{store.phone_number}}<br>
            地址：{{store.address}}
        </small>
    </div>
    <div class="panel-body word-wrap">
        店铺简介
    </div>
    <div class="panel-footer"></div>
</div>

<ul class="list-group">
    <li class="list-group-item">{{store.reviews.count}} 条点评
        <div class = "pull-right">点评排序：
        <select id="review-order">
            <option value="latest" selected="selected">最新点评</option>
            <option value="likest">点赞数</option>
            <option value="newest">最早点评</option>
        </select>
        </div>
    </li>
    {% for review in store.reviews.all %}
    <li class="list-group-item clearfix">
        <div>
            {% bootstrap_icon 'user' %}<b>{{review.author}}</b>
            {% bootstrap_icon 'time' %}{{review.create_at}}
        </div>
        <div>
            <small>
                总体：{{review.star}}星   口味：{{review.taste_score}}   环境：{{review.environment_score}}   服务：{{review.service_score}}
            </small>
        </div>
        <div class="word-wrap">{{review.content}}</div>
    </li>
    {% endfor %}
</ul>

<div class="panel panel-default">
    <div class="panel-heading">填写评论</div>
    <div class="panel-body">
        <form method="POST" action="{% url 'write_review' store.id %}">
            {% csrf_token %}
            {% bootstrap_form review_form layout='inline' %}
            {% buttons submit='提交' %}{% endbuttons %}
        </form>
    </div>
</div>

{% endblock %}
