{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="breadcrumb">
        <a href = "{% url 'area_index' store.id %}" >
            {{store.area}}
        </a>
        &gt;
        <a href = "{% url 'category_index' store.id %}" >
            {{store.category}}
        </a>
        &gt;
    	<span>{{store.name}}</span>
    </div>
<div class="main" style="display:inline-block;vertical-align:top;width:600px">    
    <div class="panel-heading">
        <h3>{{store.name}}</h3>
	<div class="brief-info">
            <span title="准五星商户" class="mid-rank-stars mid-str45">{{store.star}}星商户</span>
            <span id="reviewCount" class="item">{{store.reviews.count}}条评论</span>

            <span id="avgPriceTitle" class="item">人均：{{store.per_consume}}元</span>
            <span id="comment_score">
	    
	        <span class="item">口味：{{store.taste_score}}</span>

	        <span class="item">环境：{{store.environment_score}}</span>

	        <span class="item">服务：{{store.service_score}}</span>
            </span>
        </div>
        <small>
            地址：{{store.address}}<br>
            电话：{{store.phone_number}}<br>
            营业时间：{{store.opening_time}}
        </small>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'likestore' user.id store.id%}">收藏</a>
    {% endif %}
    <div class="panel-footer"></div>
<ul class="list-group">
    <li class="list-group-item">{{store.reviews.count}} 条点评</li>
    {% for review in first_reviews %}
    <li class="list-group-item clearfix">
        <div>
            {% bootstrap_icon 'user' %}<b>{{review.author}}</b>
            {% bootstrap_icon 'time' %}{{review.create_at}}
        </div>
        <div>
            <small>
                总体：{{review.star}}星&emsp;&emsp;口味：{{review.taste_score}}&emsp;&emsp;环境：{{review.environment_score}}&emsp;&emsp;服务：{{review.service_score}}
            </small>
        </div>
        <div class="word-wrap">{{review.content}}</div>
    </li>
    {% endfor %}
</ul>
<div class="pull-right"><a href="{% url 'review' store.id %}">更多评论({{store.reviews.count}})</a></div>
</div>
<div class="panel panel-default" style="display:inline-block;vertical-align:top;width:300px">
<ul class="list-group">
    <li class="list-group-item">猜你喜欢</li>
    {% for nearest_store in nearest_stores%}
    <li class="list-group-item clearfix">
    <div>
	<div class="info-name">
		<h3><a href="{% url 'store' nearest_store.id %}">{{nearest_store.name}}</a></h3>
                <span title="准五星商户" class="mid-rank-stars mid-str45">{{nearest_store.star}}星商户</span>
	</div>
	<div class="info-list">
	    <small>
            {{nearest_store.area}}
            人均¥{{nearest_store.per_consume}}
            </small>
	</div>
    </div>
</li>
{% endfor %}
</ul>
</div>
<div><img src="{% static head %}"></div>
<br><br>
<div class="panel panel-default">
    <div class="panel-heading">填写评论</div>
    <div class="panel-body">
        <form method="POST" action="{% url 'write_review' store.id %}">
            {% csrf_token %}
            {% bootstrap_form review_form layout='inline' %}
            {% buttons submit='提交' %}{% endbuttons %}
        </form>
    </div>
</div>
</div>

{% endblock %}
